{%- extends "layout.html" %}
{%- block content %}
<section id="header">
  <header class="major sub">
    <h1 class="schd"><img class="logo" src="{{url_for('static',filename = 'images/logo.png')}}"></h1>
        <div class="t_small">イージュ</div>
    
    <p class="subtitle">ホフステード博士の考え
</p>
    <ul class="actions special">
      <li><a href="#one" class="button primary scrolly">NEXT</a></li>
    </ul>
  </header>
  <div class="container info">
<div class="lead">
          <p class="foreword">
“the collective programming of the mind distinguishing the members of one group or category of people from others”.

</p>
    <p style="font-size: 0.8rem">”文化とは、ひとつの集団した人々をもうひとつ別の集団グループの人々から区別する、人間の精神の集合体である。<br>
文化とは、あるグループごとに定義された精神的プログラミングである。”</p>
    <p class="sign">Professor Geert Hofstede</p>
</div>
      
  </div>
</section>

  <!--one-->
  <section id="one" class="main special">
    <div class="container">
      <div class="content">
          <div class="Word">
          <p>ホフステード博士が研究した「国民文化の6次元モデル」は、「権力格差(PDI)」「集団主義・個人主義(IDV)」「男性性・女性性(MAS)」「不確実性の回避(UAI)」「短期・長期思考(LTO)」「充足的・抑制的な人生の楽しみ方」に分かれています。</p>

<p>経済学者であり人類学学者でもある博士は、「文化」についてこのように語っています：
文化とは、ひとつの集団した人々をもうひとつ別の集団グループの人々から区別する、人間の精神の集合体である。<br>文化とは、あるグループごとに定義された精神的プログラミングである。</p>

          <p>このプログラミングは、生活のあらゆる側面に対する人々の意識に反映され、社会の中で結晶化される思考パターンに影響します。</p>
          </div>
      </div>
<!--
      <a href="#two" class="goto-next scrolly">Next</a> -->
      </div>
    <!--/container--> 
  </section>
{%- endblock %}